<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FLIP Experiment: April 6 2024</title>
    <link rel="stylesheet" href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="closed relative">
      <button class="closed-wrapper">
        <div class="record-wrapper">
          <div class="record">
            <div class="rotation-wrapper">
              <img src="/golden-hour-art.webp" alt="Album cover" />
              <div class="record-vinyl"></div>
            </div>
          </div>
        </div>
        <div class="album-details">
          <div class="album-name">Golden Hour</div>
          <div class="artist-name">Kasey Musgraves</div>
        </div>
      </button>
      <div class="open-wrapper">
        <button class="close-button">&#10006;</button>
        <div class="record-wrapper">
          <div class="record">
            <div class="rotation-wrapper">
              <img src="/golden-hour-art.webp" alt="Album cover" />
              <div class="record-vinyl"></div>
            </div>
          </div>
        </div>
        <div class="album-details">
          <div class="album-name">Golden Hour</div>
          <div class="artist-name">Kasey Musgraves</div>
          <ol class="track-list">
            <li>Slow Burn</li>
            <li>Lonely Weekend</li>
            <li>Butterflies</li>
            <li>Oh, What a World</li>
            <li>Mother</li>
            <li>Love Is a Wild Thing</li>
            <li>Space Cowboy</li>
            <li>Happy & Sad</li>
            <li>Velvet Elvis</li>
          </ol>
        </div>
      </div>
    </main>
  </body>
</html>

<script>
  import "../scripts/record-flip";
</script>
<style lang="scss">
  body {
    margin: 0;
    padding: 0;

    * {
      font-family: "Inter", sans-serif;
    }

    li {
      list-style-type: none;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .hidden {
    display: none !important;
  }

  /* 
Closed
*/
  .closed-wrapper {
    transition: all 300ms ease-out;
    border-radius: 12px;
    padding: 8px 8px 12px 8px;
    background: rgba(255, 255, 255, 0);

    &:hover {
      transform: scale(1.01);
      outline: none;
      border: none;
      background: rgba(255, 255, 255, 0.5);
    }

    &:active {
      transform: scale(0.98);
      outline: none;
      border: none;
    }

    .open & {
      display: none;
    }

    .record {
      width: 200px;
      height: 200px;
      border-radius: 6px;
      background-color: #ccc;
      transform-origin: top left;
      position: relative;
      z-index: 2;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 4px;
        overflow: hidden;
      }

      .record-vinyl {
        width: 195px;
        height: 195px;
        border-radius: 100%;
        background-color: black;
        position: absolute;
        z-index: 0;
        top: 0px;
        right: 0;
        z-index: 0;
        background-image: url("/vinyl.png");
        background-size: cover;
        transform-origin: center;
      }
    }

    .rotation-wrapper {
      width: 200px;
      height: 200px;
      border: 2px solid white;
      border-radius: 4px;
      position: relative;
      border-radius: 4px;
      position: relative;
    }

    .album-details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 8px;
      gap: 4px;
      width: 100%;
    }

    .album-name {
      color: black;
      font-size: 16px;
      font-weight: 800;
      transform-origin: top left;
      z-index: 1;
    }

    .artist-name {
      color: black;
      opacity: 0.6;
      font-size: 12px;
      font-weight: regular;
      transform-origin: top left;
      z-index: 1;
    }
  }

  /* 
Open
*/
  .open-wrapper {
    display: flex;
    flex-direction: column;
    transition: transform 300ms ease-out;
    width: 100%;
    height: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      height: auto;
      width: auto;
    }

    &:active {
      outline: none;
      border: none;
    }

    .closed & {
      display: none;
    }

    .record-wrapper {
      width: 250px;
      height: 250px;
      position: relative;
      padding: 32px;
      left: -10px;

      @media (min-width: 768px) {
        padding: 0;
        left: -100px;
        top: 50px;
      }

      @media (min-width: 1000px) {
        width: 400px;
        height: 400px;
        left: -150px;
        top: 50px;
      }
    }

    .rotation-wrapper {
      width: 250px;
      height: 250px;
      border: 2px solid white;
      border-radius: 8px;
      position: relative;

      @media (min-width: 1000px) {
        width: 400px;
        height: 400px;
      }
    }

    .record {
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      transform-origin: top left;
      z-index: 2;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        z-index: 1;
        border-radius: 8px;
        overflow: hidden;
      }

      .record-vinyl {
        width: 245px;
        height: 245px;
        border-radius: 100%;
        background-color: black;
        position: absolute;
        z-index: 0;
        right: 0;
        z-index: 0;
        background-image: url("/vinyl.png");
        background-size: cover;
        transform-origin: center;
        top: 3px;

        @media (min-width: 1000px) {
          top: 0px;
          width: 390px;
          height: 390px;
        }
      }
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 16px;
    }

    .album-details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4px;
      z-index: 1;
      min-width: 268px;
      padding: 16px;

      @media (min-width: 768px) {
        padding: 32px;
      }
    }

    .album-name {
      color: black;
      font-size: 24px; // from 16
      font-weight: 800;
      transform-origin: top left;
      padding-left: 16px;

      @media (min-width: 768px) {
        font-size: 32px; // from 16
      }
    }

    .artist-name {
      color: black;
      font-size: 16px; // from 12
      font-weight: regular;
      transform-origin: top left;
      opacity: 0.6;
      padding-left: 16px;
    }

    .track-list {
      text-align: left;
      padding: 24px 16px;
      margin: 0;
      width: calc(100% - 32px);

      li {
        border-bottom: 1px solid #ddd;
        padding: 8px 0;
        opacity: 0.6;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .close-button {
    width: 32px;
    height: 32px;
    top: 16px;
    right: 16px;
    border-radius: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    background: #ddd;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
    position: fixed;

    @media (min-width: 768px) {
      position: absolute;
      top: -32px;
      right: -32px;
    }

    svg {
      opacity: 0.6;
      width: 16px;
      height: 16px;

      @media (min-width: 768px) {
        width: 24px;
        height: 24px;
      }
    }
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
</style>
