---
import App from "../components/uber-flip/App";
import "../tailwind.css";
---

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jacob Impson | Uber Flip</title>
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2fff/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚗</text></svg>"
  />
</head>
<main class="w-96 max-w-full m-auto mt-12">
  <App client:only="react" />
</main>
