body {
  margin: 0;
  padding: 0;

  * {
    font-family: "Inter", sans-serif;
  }

  li {
    list-style-type: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.hidden {
  display: none !important;
}

/* 
Closed
*/
.closed-wrapper {
  transition: all 300ms ease-out;
  border-radius: 12px;
  padding: 8px 8px 12px 8px;
  background: rgba(255, 255, 255, 0);

  &:hover {
    transform: scale(1.01);
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.5);
  }

  &:active {
    transform: scale(0.98);
    outline: none;
    border: none;
  }

  .open & {
    display: none;
  }

  .record {
    width: 200px;
    height: 200px;
    border-radius: 6px;
    background-color: #ccc;
    transform-origin: top left;
    position: relative;
    z-index: 2;
    border: 2px solid white;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 4px;
      overflow: hidden;
    }

    .record-vinyl {
      width: 195px;
      height: 195px;
      border-radius: 100%;
      background-color: black;
      position: absolute;
      z-index: 0;
      top: 0px;
      right: 0;
      z-index: 0;
      background-image: url("/public/vinyl.png");
      background-size: cover;
      transform-origin: center;
    }
  }

  .album-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 8px;
    gap: 4px;
  }

  .album-name {
    color: black;
    font-size: 16px;
    font-weight: 800;
    transform-origin: top left;
    z-index: 1;
  }

  .artist-name {
    color: black;
    opacity: 0.6;
    font-size: 12px;
    font-weight: regular;
    transform-origin: top left;
    z-index: 1;
  }
}

/* 
Open
*/
.open-wrapper {
  display: flex;
  transition: transform 300ms ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  &:active {
    outline: none;
    border: none;
  }

  .closed & {
    display: none;
  }

  .record-wrapper {
    width: 400px;
    height: 400px;
    position: relative;
    left: -100px;
  }

  .record {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    z-index: 1;
    transform-origin: top left;
    z-index: 2;
    position: relative;
    border: 2px solid white;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
      z-index: 1;
      border-radius: 8px;
      overflow: hidden;
    }

    .record-vinyl {
      width: 390px;
      height: 390px;
      border-radius: 100%;
      background-color: black;
      position: absolute;
      z-index: 0;
      top: 0px;
      right: 0;
      z-index: 0;
      background-image: url("/public/vinyl.png");
      background-size: cover;
      transform-origin: center;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
  }

  .album-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    padding: 32px;
    z-index: 1;
  }

  .album-name {
    color: black;
    font-size: 32px; // from 16
    font-weight: 800;
    transform-origin: top left;
    padding-left: 16px;
  }

  .artist-name {
    color: black;
    font-size: 16px; // from 12
    font-weight: regular;
    transform-origin: top left;
    opacity: 0.6;
    padding-left: 16px;
  }

  .track-list {
    text-align: left;
    padding-left: 16px;
    padding-top: 24px;
    margin: 0;

    li {
      border-bottom: 1px solid #ddd;
      padding: 8px 0;
      opacity: 0.6;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.toggle {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 32px;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  border: none;
  background: #ddd;
  color: black;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.message {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  color: black;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
}
